*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
  width: 100vw;
}


.footer{
    position: relative;
    bottom: 0%;
    width: 100vw;
background: #302b63;
color: white;
font-size: 14px;
padding: 30px  20px;
}

.footer .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.footer .footer-col-1{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.icon1{
font-size: 30px;
color:white;
}